*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size:  var(--font-size);
  font-family: var(--font-family);
  color: var(--font-color);
  line-height: var(--line-height);
  letter-spacing: 0.01em;
}



.small {
  position: relative;
  font-size: 14px;
}

/*
  a {
  color: #0053ff;
  transition: all 0.1s ease;
}

a:hover {
  color: #0053ff;
}
*/

label {
  position: relative;
  color: #111111;
}

.code {
  position: relative;
  font-size: 14px;
  padding: 10px;
  color: #FFFFFF;
  background-color: #292F3E;
  overflow-x: auto;
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
  border-radius: 5px;
}
@media (max-width: 1200px) {
  .code {
    padding: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    width: 100%;
    overflow-x: auto;
  }
}

/*                                                                          
 |---------------------------------------------------------------            
 | cross hatch grid styles                                                
 |---------------------------------------------------------------            
 */
.cross-grid {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, #f2f2f2 1px, transparent 1px), linear-gradient(to bottom, #f2f2f2 1px, transparent 1px);
}


/*                                                                          
 |---------------------------------------------------------------            
 | Divider content for dashboard                                                
 |---------------------------------------------------------------            
 | Draws a thin grey line
 |
 */
.divider {
  border-bottom: 1px solid #cccccc;
  padding-top: 30px;
  margin-left: -23px;
  margin-right: -23px;
}

/*
 |---------------------------------------------------------------
 | Grid system
 |---------------------------------------------------------------
  */
.default-container {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.medium-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.small-container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.row > :first-child {
  margin-left: 0;
}

.row > :last-child {
  margin-right: 0;
}

.col {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.col,
[class*=" col-"],
[class^=col-] {
  margin: 1rem;
}

.col-1 {
  flex: 1;
}

.col-2 {
  flex: 2;
}

.col-3 {
  flex: 3;
}

.col-4 {
  flex: 4;
}

.col-5 {
  flex: 5;
}

.col-6 {
  flex: 6;
}

.col-7 {
  flex: 7;
}

.col-8 {
  flex: 8;
}

.col-9 {
  flex: 9;
}

.col-10 {
  flex: 10;
}

.col-11 {
  flex: 11;
}

.col-12 {
  flex: 12;
}

ul {
  list-style: square inside;
}

ol {
  list-style: decimal inside;
}

.table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .col,
  [class*=" col-"],
  [class^=col-] {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    flex: 0 0 100%;
  }
}


/*
|---------------------------------------------------------------
| Icon size
|---------------------------------------------------------------
 */
.icon {
  height: 40px;
  width: 40px;
}
.icon-inside {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 1;
}


.scroll-y {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.scroll-x {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.gap {
  padding-top: 60px;
}
@media (max-width: 900px) {
  .gap {
    padding-top: 20px;
  }
}



/*
|---------------------------------------------------------------
| remove link and button styles
|---------------------------------------------------------------
*/
.rm-link-styles {
  text-decoration: none;
  color: #666666 !important;
}

/*
|---------------------------------------------------------------
| Button utility classes IMP must remove outline:inherit for accessiblity
|---------------------------------------------------------------
*/
.rm-btn-styles {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  text-align: left;
}

/*
|---------------------------------------------------------------
| List utility classes 
|---------------------------------------------------------------
*/
.rm-list-styles {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*
|---------------------------------------------------------------
| Remove input styles
|---------------------------------------------------------------
*/
.rm-input-styles {
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  padding: 0.275rem 0.85rem;
  font-family: inherit;
  font-size: 1em;
  line-height: 1.8em;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #fff;
}
.rm-input-styles:focus {
  background-color: #fff;
  outline: 0;
}


.img-responsive {
  max-width: 100%;
  height: auto;
}

.img-center {
  margin: 0 auto;
  display: block;
}


.full-screen {
  width: 100%;
  min-height: 100vh;
}

.v-a {
  display: flex;
  align-items: center;
}

.h-a {
  display: flex;
  justify-content: center;
}

.v-e {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.h-e {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.fancy-hover {
  transition: all 0.4s;
}
.fancy-hover:hover {
  transform: translateY(-10px);
  -webkit-box-shadow: -1px 25px 10px -8px rgba(0, 0, 0, 0.28);
  box-shadow: -1px 25px 10px -8px rgba(0, 0, 0, 0.28);
}

@media (max-width: 1248px) {
  .fancy-hover:hover {
    transform: none;
    box-shadow: none;
  }
}



@media screen and (max-width: 640px) {
  .hide-phone {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .hide-tablet {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .show-tablet {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .show-tablet {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .show-desktop {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .hide-desktop {
    display: none;
  }
}

/*# sourceMappingURL=base.css.map */

