.splide__pagination__page.is-active {
   background: #333;
   transform: scale(1.4);
   z-index: 1;
}

.splide__arrow--prev:focus{
   outline: solid 2px var(--primary) !important;
}

.splide__arrow--next:focus{
   outline: solid 2px var(--primary) !important;
}

.splide__pagination__page:focus{

   outline: solid 2px var(--primary) !important;
}
