   <div class="gap"></div>
   <div class="default-container">
      <div class="text-center">
      <a href="/examples" class="text-primary underline">Examples</a>
      </div>
   </div>   
</div>
<script src="/resources/js/click-outside.js"></script>
<script src="/resources/js/focus-trap.js"></script>
<script src="/resources/js/accordions.js"></script>
<script src="/resources/js/alerts.js"></script>
<script src="/resources/js/avatar.js"></script>
<script src="/resources/js/breadcrumbs.js"></script>
<script src="/resources/js/badges.js"></script>
<script src="/resources/js/buttons.js"></script>
<script src="/resources/js/combobox.js"></script>
<script src="/resources/js/datepicker.js"></script>
<script src="/resources/js/drawer.js"></script>
<script src="/resources/js/dark-mode.js"></script>
<script src="/resources/js/dropdown.js"></script>
<script src="/resources/js/file-upload.js"></script>
<script src="/resources/js/modals.js"></script>
<script src="/resources/js/menu.js"></script>
<script src="/resources/js/mobile-menu.js"></script>
<script src="/resources/js/popover.js"></script>
<script src="/resources/js/password.js"></script>
<script src="/resources/js/quill.js"></script>
<script src="/resources/js/quill-vue.js"></script>
<script src="/resources/js/range-sliders.js"></script>
<script src="/resources/js/switch.js"></script>
<script src="/resources/js/splide.min.js"></script>
<script src="/resources/js/carousel.js"></script>
<script src="/resources/js/tabs.js"></script>
<script src="/resources/js/toasts.js"></script>
<script src="/resources/js/tooltip.js"></script>
<script src="/resources/js/feather.js"></script>
<script> 
   var app = new Vue(
      {
         el: '#app',
         methods:
         {

         },
         mounted()
         {
            this.$refs.toast.showToast(4000);
         }
      });   
</script> 

<script>
   feather.replace()
</script>

</body>

</html>


