{{ template "_header.html" }}
<div class="nav bg-white p-6 shadow-sm border-b border-slate-300">
   <div class="default-container h-e">
      <div>
         Dashboard
      </div>
      <div>
         <drop-down button-title="{{.Data.name}}">
            <item title="Profile" url="/profile"></item>
            <item title="Logout" url="/destroy"></item>
         </drop-down>
      </div>
   </div>
</div>
<div class="default-container">
   <div class="row">
      <div class="col h-e">
         <div>You are logged in</div>
      </div>
   </div>
</div>
{{ template "_footer.html" }}
