{{ template "_header.html" }}
<div class="nav bg-white p-6 shadow-sm border-b border-slate-300">
   <div class="default-container v-a h-e">
      <div class="font-medium">
         Dashboard
      </div>
      <div>
         <a href="/profile">profile</a>
         <a href="/destroy">logout</a>
         
      </div>
   </div>
</div>
<div class="default-container">
   <div class="row">
      <div class="col h-e">
         <div>You are logged in</div>
      </div>
   </div>
</div>
{{ template "_footer.html" }}
