{{ template "_header.html" }}
<div class="">
   <div class="gap"></div>
   <div class="default-container">
      <div class="row">
         <div class="col">
            <h2>Examples</h2>
            <div>
               <a href="/signup" class="text-primary underline">
                  Signup
               </a>
            </div>
            <div>
               <a href="/forgot" class="text-primary underline">
                  Forgot
               </a>
            </div>
            <div>
               <a href="/login" class="text-primary underline">
                  Login
               </a>
            </div>
            <div>
               <a href="/destroy" class="text-primary underline">
                  Logout
               </a>
            </div>
            
            <div>
               <a href="/session" class="text-primary underline">
                  Sessions 
               </a>
            </div>
            
            <div>
               <a href="/forms" class="text-primary underline">
                  Form validation, templating, flash data
               </a>
            </div>
            <div>
               <a href="/upload" class="text-primary underline">
                  Uploads
               </a>
            </div>
            <div>
               <a href="/mail" class="text-primary underline">
                  Mail
               </a>
            </div>
            <div>
               <a href="/socket" class="text-primary underline">
                  Socket client and server
               </a>
            </div>
            
            <div>
               <a href="/query" class="text-primary underline">
                  Query builder
               </a>
            </div>


         </div>
      </div>
   </div>
</div>

{{ template "_footer.html" }}
