{{ template "_header.html" }}
<div>
   <h2>Examples</h2>
   <div>
      <a href="/signup">
      Signup
      </a>
   </div>
   <div>
      <a href="/forgot">
      Forgot
      </a>
   </div>
   <div>
      <a href="/login">
      Login
      </a>
   </div>
   <div>
      <a href="/destroy">
      Logout
      </a>
   </div>
   <div>
      <a href="/dashboard">
      Dashboard
      </a>
   </div>
   <div>
      <a href="/session">
      Sessions
      </a>
   </div>
   <div>
      <a href="/forms">
      Form validation, templating, flash data
      </a>
   </div>
   <div>
      <a href="/upload">
      Uploads
      </a>
   </div>
   <div>
      <a href="/mail">
      Mail
      </a>
   </div>
   <div>
      <a href="/socket">
      Socket client and server
      </a>
   </div>
</div>
{{ template "_footer.html" }}
