{{ template "_header.html" }}
<div>
   {{ if .Data.FlashData }}
   <div>
      <div class="text-danger">Error</div>
      <div class="text-danger">
         {{ .Data.FlashData }}
      </div>
   </div>
   {{ end }}
   <h4>Forgot password</h4>
   <div >
      Forgot your password? No problem. Just let us know your email address
      and we will email you a password reset link that will allow you to choose a new one.
   </div>
   <form method="POST" action="/forgot">
      {{ .Csrf }}
      <div >
         <label for="email">Email</label>
         <div>Enter a valid email address</div>
         <input
            class=""
            type="text"
            name="email"
            value="{{ .Data.PostData.email }}"
            autocomplete="off"
            placeholder="" />
         <div class="text-danger">{{ .Data.PostDataErrors.email }}</div>
      </div>
      <div>
         <button type="submit">
            Submit
         </button>
      </div>
   </form>
</div>
{{ template "_footer.html" }}
