{{ template "_header.html" }}
<div class="gap"></div>
<div class="gap"></div>
<div class="small-container">
   {{ if .Data.FlashData }}
   <div class="toasts">
      <toast ref="toast">
      <div class="p-5">
         <div class="text-danger dark:text-white">Error</div>
         <div class="text-danger small dark:text-white">
            {{ .Data.FlashData }}
         </div>
      </div>
      </toast>
   </div>
   {{ end }}
   <div class="panel">
      <div class="row">
         <div class="col">
            <h4 class="text-center">Login</h4>
            <form method="POST" action="/login">
               {{ .Csrf }}
               <div class="form-group">
                  <label for="title">Email</label>
                  <div class="small text-muted">Enter a valid email address</div>
                  <input 
                       class="form-control" 
                       type="text"
                       name="email" 
                       value="{{ .Data.PostData.email }}"
                       autocomplete="off"
                       placeholder="" />
                  <div class="small text-danger">{{ .Data.PostDataErrors.email }}</div>
               </div>
               <div class="form-group">
                  <password name="password"></password>
               </div>
               <div class="form-group">
                  <button-component variant="primary" class="w-full">
                     Login
                  </button-component>
               </div>
            </form>
         </div>
      </div>
      <div class="text-center">
         <a href="/forgot" class="text-primary underline">Forgot password</a>
      </div>
   </div>

</div>
{{ template "_footer.html" }}
