{{ template "_header.html" }}
<div class="gap"></div>
<div class="default-container">

      {{ if .Data.FlashData }}
      <div class="toasts">
         <toast ref="toast">
         <div class="p-5">
            <div class="text-danger dark:text-white">Error</div>
            <div class="text-danger small dark:text-white">
               {{ .Data.FlashData }}
            </div>
         </div>
         </toast>
      </div>

      {{end}}
   <div class="row">
      <div class="col-12">
         <div class="">
            Test your emails work, if you have issues please check your email
            settings for your provider in the .env file
         </div>
         <div class="form-group">
            <form action="/mail" method="POST">
               {{.Csrf}}
               <label for="title">Email</label>
               <div class="small text-muted">Email to test</div>
               <input 
                    class="form-control" 
                    type="text"
                    name="email" 
                    placeholder="A valid email address" />

               <div class="small text-danger">
                   {{ .Data.PostDataErrors.email }}
                </div>               

               <div class="form-group">
                  <button-component variant="primary">
                     Send
                  </button-component>
               </div>
            </form>

         </div>
      </div>
   </div>
</div>
{{ template "_footer.html" }}

