{{ template "_header.html" }}
<div>
   {{ if .Data.FlashData }}
   <div>
      <div class="text-danger">Error</div>
      <div class="text-danger">
         {{ .Data.FlashData }}
      </div>
   </div>
   {{end}}

   <h2>Mail</h2>
   <div>
      Test your emails work, if you have issues please check your email
      settings for your provider in the .env file
   </div>
   <div>
      <form action="/mail" method="POST">
         {{.Csrf}}
         <label for="email">Email</label>
         <div>Email to test</div>
         <input 
            class="" 
            type="text"
            name="email" 
            placeholder="A valid email address" />

         <div class="text-danger">
            {{ .Data.PostDataErrors.email }}
         </div>               
         <button>
            Submit
         </button>
      </form>
   </div>
</div>
{{ template "_footer.html" }}

