{{ template "_header.html" }}
<div class="gap"></div>
<div class="default-container">

   {{ if .Data.FlashData }}
   <div class="toasts">
      <toast ref="toast">
      <div class="p-5">
         <div class="text-danger dark:text-white">Error</div>
         <div class="text-danger small dark:text-white">
            {{ .Data.FlashData }}
         </div>
      </div>
      </toast>
   </div>
   {{ end }}

   <div class="row">
      <div class="col">
         <h3>Profile information</h3>
         <div class="small text-muted">
            Update your account's profile information and email address.
         </div>
         <form action="/profile" method="POST">
            {{.Csrf}}
            <div class="form-group">
               <input 
                 class="form-control" 
                 type="text"
                 name="name" 
                 placeholder="Name" />
            </div>
            <div class="form-group">
               <input 
                 class="form-control" 
                 type="text"
                 name="email" 
                 placeholder="Email" />
            </div>
            <div class="form-group">
               <button-component variant="primary">
                  Save
               </button-component>
            </div>
         </form>
      </div>
   </div>
   <div class="row">
      <div class="col">
         <h3>Update password</h3>
         <form action="/password" method="POST">
            {{.Csrf}}
            <div class="form-group">
               <input 
                 class="form-control" 
                 type="text"
                 name="password" 
                 placeholder="" />
            </div>
            
            <div class="form-group">
               <button-component variant="primary">
                  Save
               </button-component>
            </div>
         </form>
      </div>
   </div>
   <div class="row">
      <div class="col">
         <h3>Delete account</h3>
         <form action="/delete-account" method="POST">
            {{.Csrf}}
            
            <div class="form-group">
               <button-component variant="primary">
                  Yes
               </button-component>
            </div>
         </form>
      </div>
   </div>
</div>
{{ template "_footer.html" }}
