{{ template "_header.html" }}
<div>
   Dashboard
   <div>
      <a href="/profile">profile</a>
      <a href="/destroy">logout</a>
   </div>
</div>
<div>
   {{ if .Data.FlashData }}
   <div>
      <div class="text-danger">Error</div>
      <div class="text-danger">
         {{ .Data.FlashData }}
      </div>
   </div>
   {{ end }}
   <h2>Change password</h2>
   <form action="/password" method="POST">
      {{.Csrf}}
      <div>
         <label for="password">Password</label>
         <div>Password</div>
         <input
            class=""
            type="text"
            name="password"
            placeholder="" />
         <div class=" text-danger">{{ .Data.PostDataErrors.password }}</div>
      </div>
      <button>
      submit
      </button>
   </form>
   <h2>Delete account</h2>
   <form action="/delete-account" method="POST">
      {{.Csrf}}
      <button>
      submit
      </button>
   </form>
</div>
{{ template "_footer.html" }}
