{{ template "_header.html" }}
<div class="nav bg-white p-6 shadow-sm border-b border-slate-300">
   <div class="default-container v-a h-e">
      <div class="font-medium">
         Dashboard
      </div>
      <div>
         
      </div>
   </div>
</div>
<div class="gap"></div>
<div class="default-container">

   {{ if .Data.FlashData }}
   <div class="toasts">
      <toast ref="toast">
      <div class="p-5">
         <div class="text-danger dark:text-white">Error</div>
         <div class="text-danger small dark:text-white">
            {{ .Data.FlashData }}
         </div>
      </div>
      </toast>
   </div>
   {{ end }}

   
   <div class="row">
      <div class="col">
         <h5>Change password</h5>
         <form action="/password" method="POST">
            {{.Csrf}}
            <div class="form-group">
               <input 
                 class="form-control" 
                 type="text"
                 name="password" 
                 placeholder="" />

               <div class="small text-danger">{{ .Data.PostDataErrors.password }}</div>
            </div>
            
            <div class="form-group">
               <button>
                  submit
               </button>
            </div>
         </form>
      </div>
   </div>
   <div class="row">
      <div class="col">
         <h5>Delete account</h5>
         <form action="/delete-account" method="POST">
            {{.Csrf}}
            
            <div class="form-group">
               <button>
                  submit
               </button>
               
            </div>
         </form>
      </div>
   </div>
</div>
{{ template "_footer.html" }}
