{{ template "_header.html" }}
<div>
   {{ if .Data.FlashData }}
   <div>
      <div>
         <div class="text-danger">Error</div>
         <div class="text-danger">
            {{ .Data.FlashData }}
         </div>
      </div>
   </div>
   {{ end }}
   <h4 >Signup</h4>
   <form method="POST" action="/signup">
      {{ .Csrf }}
      <div>
         <label for="name">Name</label>
         <div>Your name</div>
         <input
            class=""
            type="text"
            name="name"
            value="{{ .Data.PostData.name }}"
            autocomplete="off"
            placeholder="" />
         <div class="text-danger">{{ .Data.PostDataErrors.name }}</div>
      </div>
      <div>
         <label for="email">Email</label>
         <div >Enter a valid email address</div>
         <input
            class=""
            type="text"
            name="email"
            value="{{ .Data.PostData.email }}"
            autocomplete="off"
            placeholder="" />
         <div class="text-danger">{{ .Data.PostDataErrors.email }}</div>
      </div>
      <div>
         <label for="password">Password</label>
         <div>Password</div>
         <input
            class=""
            type="password"
            name="password"
            placeholder="" />
         <div class="text-danger">{{ .Data.PostDataErrors.password }}</div>
      </div>
      <div>
         <button type="submit">
            Submit
         </button>
      </div>
   </form>
   <div>
      <a href="/login" >Already registered?</a>
   </div>
</div>
{{ template "_footer.html" }}
