{{ template "_header.html" }}
<div class="gap"></div>
<div class="default-container">
{{ if .Data.FlashData }}
    <div class="toasts">
        <toast ref="toast">
            <div class="p-5">
                <div class="text-danger dark:text-white">Error</div>
                <div class="text-danger small dark:text-white">
                    {{ .Data.FlashData }}
                </div>
            </div>
        </toast>
    </div>
{{ end }}
    <div class="row">
        <div class="col">
            <a href="/users" class="text-primary underline">users</a>
            <h3>Create Users</h3>
            <form method="POST" action="/users/create">
                {{.Csrf}}
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" name="name" value="{{.Data.PostData.name}}" placeholder="" />
                    <div class="small text-danger">{{ .Data.PostDataErrors.name }}</div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" name="email" value="{{.Data.PostData.email}}" placeholder="" />
                    <div class="small text-danger">{{ .Data.PostDataErrors.email }}</div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" name="password" value="{{.Data.PostData.password}}" placeholder="" />
                    <div class="small text-danger">{{ .Data.PostDataErrors.password }}</div>
                </div>
                <div class="form-group">
                    <button-component variant="primary">Save</button-component>
                </div>
            </form>
        </div>
    </div>
</div>
{{ template "_footer.html" }}
