{{ template "_header.html" }}
<div class="gap"></div>
<div class="default-container">
    <div class="row">
        <div class="col-12">
            <a href="/users/create" class="text-primary underline">add user</a>
            <h3>Users</h3>
            <table class="w-full">
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>email</th>
                    <th>password</th>
                    <th>created_at</th>
                    <th>updated_at</th>
                    <th>action</th>
                </tr>
                {{range .Data}}
                <tr>
                    <td>
                        <a href="/users/update/{{.Id}}" class="underline text-primary">
                            {{.Id}}
                        </a>
                    </td>
                    <td>{{.Name}}</td>
                    <td>{{.Email}}</td>
                    <td>{{.Password}}</td>
                    <td>{{.Created_at}}</td>
                    <td>{{.Updated_at}}</td>
                    <td><a href="/users/delete/{{.Id}}" class="underline text-primary">delete</a></td>
                </tr>
                {{end}}
            </table>
        </div>
    </div>
</div>
{{ template "_footer.html" }}
